/* || General styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
  color: #385257;
}
.nav-container {
  position: relative;
  overflow-x: hidden;
}
section {
  margin: 20px 20px;
}

a {
  text-decoration: none;
  color: #cceaf0;
}
.container {
  width: 100vw;
}
.content-header {
  font-family: "Zeyada", cursive;
  font-size: 36px;
  color: #385257;
  text-decoration: underline #cceaf0;
  letter-spacing: 2px;
  margin: 80px 0 40px;
}

.content {
  text-align: left;
  margin-top: 20px;
}
/* || Nav styles */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  width: 100%;
  padding: 0px 20px;
  background-color: #7a9ca3;
  position: relative;
}

.name {
  padding-top: 20px;
  color: #385257;
  text-decoration: none;
  letter-spacing: 5px;
  font-size: 60px;
  font-family: "Zeyada", cursive;
}

.burger {
  display: block;
}

.burger div {
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: #385257;
  border-radius: 2px;
  transition: all 0.3s ease;
}

.nav-links {
  position: absolute;
  right: 0px;
  height: 92vh;
  top: 8vh;
  background-color: #7a9ca3;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  transform: translateX(100%);
  transition: transform 0.5s ease-in;
  z-index: 20;
}

.nav-links a {
  font-family: "Montserrat", sans-serif;
  color: #cceaf0;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.nav-links li {
  list-style: none;
  height: 92vh;
  display: flex;
  align-items: center;
  opacity: 0;
}

.nav-active {
  transform: translateX(0%);
  z-index: 30;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.bar .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.bar .line2 {
  opacity: 0;
}
.bar .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* || Header styles */
.background {
  background: url("images/hero.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 92vh;
  width: 100vw;
}

.blur {
  display: block;
  background: url("images/hero.jpg");
  background-position: bottom;
  background-size: cover;
  position: absolute;
  -webkit-filter: blur(2px);
  width: 100vw;
  height: 26vh;
  top: 4vh;
}

.mask {
  width: 100vw;
  height: 26vh;
  position: absolute;
  top: 62vh;
  overflow: hidden;
}

.titles > .sub-titles {
  background: #574230;
  width: 100vw;
  height: 26vh;
  top: 62vh;
  animation: blankout 10s ease forwards;
}
@keyframes blankout {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
.title {
  color: #cceaf0;
  font-size: 14px;
  position: relative;
  top: 40px;
}

.title::before {
  content: "";
  animation: flipcard 10s forwards;
  font-family: "Zeyada", cursive;
}
@keyframes flipcard {
  10% {
    content: "Designer";
  }
  20% {
    content: "Entrepreneur";
  }
  25% {
    content: "Writer";
  }
  30% {
    content: "Coach";
  }
  35% {
    content: "Ultrarunner";
  }
  40% {
    content: "Creator";
  }
  41% {
    content: "Learner";
  }
  42% {
    content: "Thinker";
  }
  43% {
    content: "Dreamer";
  }
  44% {
    content: "Doer";
  }
  45% {
    content: "Aerialist";
  }
  46% {
    content: "Improviser";
  }
  47% {
    content: "Traveler";
  }
  48% {
    content: "Volunteer";
  }
  49% {
    content: "Blogger";
  }

  50% {
    content: "web developer";
    font-size: 40px;
  }

  100% {
    content: "wendy bartos";
    font-size: 60px;
  }
}

/* || Skills styles */
.skill {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Montserrat", sans-serif;
  color: #385257;
  padding: 15px 0;
}
.skillbar {
  width: 85vw;
  height: 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  background-color: #cceaf0;
}

.track {
  position: absolute;
  background-color: #385257;
  height: 10px;
  border-radius: 5px;
}
.html {
  width: 75vw;
}
.css {
  width: 80vw;
}
.js {
  width: 80vw;
}
.sass {
  width: 45vw;
}
.jquery {
  width: 60vw;
}
.react {
  width: 80vw;
}
.node {
  width: 80vw;
}
.express {
  width: 80vw;
}
.psql {
  width: 80vw;
}

.wordpress {
  width: 65vw;
}

/* || Portfolio styles */

.feature {
  padding-bottom: 100px;
}

.wehive,
.spacedbox,
.frenmo {
  text-decoration: underline #385257;
}

.feature-img {
  width: 240px;
  height: 240px;
}

.frenmo-img {
  height: 460px;
}
.portfolio-subheader {
  padding: 20px 6px;
}
.feature-wrap {
  background-color: #cceaf0;
  box-shadow: 5px 5px 10px #7a9ca3;
}

.upper {
  text-align: left;
}
.lower {
  text-align: right;
}
.links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #7a9ca3;
  border-radius: 3px;
  width: 280px;
  margin: 2px auto;
  padding: 10px;
}
.fab,
.fas {
  color: #cceaf0;
  font-size: 30px;
}
.tech-stack {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.subheading {
  text-decoration: underline;
  text-transform: uppercase;
  text-align: left;
  margin: 30px 0px;
}
.side-note {
  font-style: italic;
  font-size: 16px;
  margin-top: 20px;
}
.langs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.tech {
  margin: 1px;
  padding: 6px;
  flex-grow: 1;
  border-radius: 3px;
}

.react-tech {
  background-color: rgb(97, 218, 251);
}
.css-tech {
  background-color: rgb(101, 188, 205);
}
.sass-tech {
  background-color: rgb(198, 99, 149);
  color: #cceaf0;
}
.node-tech {
  background-color: rgb(124, 184, 1);
}
.express-tech {
  background-color: rgb(241, 215, 5);
}
.psql-tech {
  background-color: rgb(50, 100, 141);
  color: #cceaf0;
}
.mc-tech {
  background-color: rgb(240, 227, 195);
  color: #574230;
}

.cy-tech {
  background-color: rgb(136, 136, 136);
  color: white;
}

/* || Connect styles */
.contact {
  background-color: #7a9ca3;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 3px;
}

.handle {
  font-size: 14px;
}
/* || Footer styles */
footer {
  background: #7a9ca3;
  color: #385257;
  font-family: "Zeyada", cursive;
  font-size: 22px;
}

@media (min-width: 768px) {
  .nav-links {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .burger {
    display: none;
  }

  .name {
    display: block;
  }

  .nav-links {
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    width: 30%;
    height: 8vh;
    top: 0vh;
    margin-right: 10px;
  }
  .nav-links li {
    height: 8vh;
    opacity: 1;
    width: 30%;
  }
}
