* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
  color: #385257;
}

section {
  margin: 20px;
}

a {
  text-decoration: none;
  color: #cceaf0;
}

.container {
  width: 100vw;
}

.content-header {
  font-family: 'Bebas Neue';
  font-size: 36px;
  color: #385257;
  text-decoration: underline #cceaf0;
  letter-spacing: 2px;
  margin: 80px 0 40px;
}

.content {
  text-align: center;
  margin: 60px auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  width: 100%;
  padding: 0px 20px;
  background-color: #7a9ca3;
  position: fixed;
  top: 0;
  z-index: 10;
}

.name {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: 'Inconsolata', monospace;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 10px;
}

.web {
  display: flex;
  flex-direction: row;
}

.name::before {
  content: url('./assets/open.svg');
}

.name::after {
  content: url('./assets/close.svg');
}

.web > div:hover {
  color: #385257;
}

#w,
#e,
#b {
  color: transparent;
  font-size: 40px;
  text-shadow: grey 5px 5px 2px;
  transform: skew(-50deg, -10deg) rotateX(350deg) rotateY(20deg) rotateZ(10deg);
  transform-origin: bottom right 180px;
  position: absolute;
  z-index: -10;
}

#w {
  left: 80px;
}

#e {
  left: 120px;
}

#b {
  left: 160px;
}

.burger {
  display: block;
}

.burger div {
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: #385257;
  border-radius: 2px;
  transition: all 0.3s ease;
}
.nav-container {
  position: fixed;
  overflow-x: hidden;
}
.nav-links {
  position: absolute;
  right: 0px;
  height: 92vh;
  top: 8vh;
  background-color: #7a9ca3;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  transform: translateX(100%);
  transition: transform 0.5s ease-in;
  z-index: 20;
}

.nav-links a {
  font-family: 'Montserrat', sans-serif;
  color: #cceaf0;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.nav-links li {
  list-style: none;
  height: 92vh;
  display: flex;
  align-items: center;
  opacity: 0;
}

.nav-active {
  transform: translateX(0%);
  z-index: 30;
}
g {
  z-index: 10;
}
path:nth-child(1n) {
  animation: hex-clear 1s ease alternate-reverse infinite;
}
path:nth-child(2n) {
  animation: hex-clear 3s ease alternate-reverse infinite;
}

path:nth-child(3n) {
  fill: #fcce00;
  animation: hex-clear 2s ease alternate-reverse infinite;
}

path:nth-child(4n) {
  fill: #e4c01f;
  stroke: #fcce00;
  animation: hex-clear 2.2s ease alternate-reverse infinite;
}

path:nth-child(5n) {
  fill: #ffd30e;
  animation: hex-clear 2.4s ease alternate-reverse infinite;
}

path:nth-child(6n) {
  fill: #d4ae04;
  stroke: #f0e09c;
  animation: hex-clear 2.6s ease alternate-reverse infinite;
}

.clear-hex {
  animation: hex-clear 2.8s ease alternate-reverse infinite;
}

@keyframes hex-clear {
  from {
    fill: white;
    opacity: 0;
  }
  to {
    fill: #ffd30e;
    opacity: 1;
  }
}

.titles {
  display: grid;
  grid-template-columns: 80px 80px 80px;
  grid-template-rows: 80px 80px 80px;
  font-size: 80px;
  gap: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
.letter {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: goldenrod 2px 2px 20px;
}

#s,
#p {
  animation: spin 4s infinite;
}

#i,
#g,
#n {
  animation: flip 4s infinite;
}
#s::before {
  content: '';
  animation: s-flip 4s infinite;
}

#i::before {
  content: '';
  animation: i-flip 4s infinite;
}
#g::before {
  content: '';
  animation: g-flip 4s infinite;
}
#n::before {
  content: '';
  animation: n-flip 4s infinite;
}

#p::before {
  content: '';
  animation: p-flip 4s infinite;
}
@keyframes spin {
  to {
    transform: rotateX(3.142rad);
  }
}
@keyframes flip {
  to {
    transform: rotateY(3.142rad);
  }
}
@keyframes s-flip {
  0% {
    content: 'S';
  }

  100% {
    content: 'V';
    transform: rotateX(3.142rad);
  }
}
@keyframes i-flip {
  0% {
    content: 'I';
  }

  100% {
    content: 'E';
    transform: rotateY(3.142rad);
  }
}
@keyframes g-flip {
  0% {
    content: 'G';
  }

  100% {
    content: 'L';
    transform: rotateY(3.142rad);
  }
}
@keyframes n-flip {
  0% {
    content: 'N';
  }

  100% {
    content: 'O';
    transform: rotateY(3.142rad);
  }
}
@keyframes p-flip {
  0% {
    content: '&';
    color: #cceaf0;
  }

  100% {
    content: 'P';
    transform: rotateX(3.142rad);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.bar .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.bar .line2 {
  opacity: 0;
}
.bar .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: 'Montserrat', sans-serif;
  color: #385257;
  padding: 15px 0;
}
.skill-title {
  padding: 0 20px;
}
.skillbar {
  width: 85vw;
  height: 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  background-color: #cceaf0;
}

.track {
  position: absolute;
  background-color: #385257;
  height: 10px;
  border-radius: 5px;
}
.html {
  width: 75vw;
}
.css {
  width: 80vw;
}
.js {
  width: 80vw;
}
.sass {
  width: 45vw;
}
.jquery {
  width: 60vw;
}
.react {
  width: 80vw;
}
.node {
  width: 80vw;
}
.express {
  width: 80vw;
}
.psql {
  width: 80vw;
}

.wordpress {
  width: 65vw;
}

.project-title {
  background-color: #385257;
  color: #cceaf0;
  padding: 10px 0;
}
.divider-parent {
  position: relative;
}
.divider {
  position: absolute;
  height: 2px;
  left: 30%;
  right: 30%;
}
.swiper-container {
  height: 70vh;
  max-height: 800px;
}

.wehive-feature {
  background-color: #ffc40075;
}
.wehive {
  background-color: #ffc400;
}
.sb-feature {
  background-color: #41704c75;
}
.spacedbox {
  background-color: #41704c;
}
.frenmo-feature {
  background-color: #a8ffdc75;
}
.frenmo {
  background-color: #a8ffdc;
}
.roulets-feature {
  background-color: #f1a8c7;
}
.roulets {
  background-color: #ea4b8b;
}
.sciscito-feature {
  background-color: #dfbcfc;
}
.sciscito {
  background-color: #a332ff;
}
.swiper-wrapper {
  align-items: center;
  width: 100px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}
.img-container {
  display: flex;
  align-items: center;
  height: 62vh;
  max-height: 750px;
}
.phone-img,
.tab-img,
.lap-img {
  width: 240px;
  margin: 0 auto;
}

.landscape-tab {
  margin: 100px auto;
  height: 200px;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #385257;
}
.subheading {
  text-decoration: underline;
  text-transform: uppercase;
  margin: 30px 0px;
}

.tech-stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.langs {
  position: relative;
}

@keyframes fall {
  from {
    transform: rotate(-90deg);
  }
  to {
    transform: rotate(-45deg);
  }
}
@keyframes shortfall {
  from {
    transform: rotate(-90deg);
  }
  to {
    transform: rotate(-55deg);
  }
}
@keyframes react {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: 80px;
    margin-right: -80px;
  }
}
@keyframes react-sb {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 80px;
    margin-right: -80px;
  }
}
@keyframes css {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: 60px;
    margin-right: -60px;
  }
}
@keyframes sass {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: 70px;
    margin-right: -70px;
  }
}
@keyframes node {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: 65px;
    margin-right: -65px;
  }
}
@keyframes express {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: 15px;
    margin-right: -15px;
  }
}

.tech {
  padding: 0 6px;
}
.mc-tech {
  position: absolute;
  background-color: rgb(240, 227, 195);
  color: #574230;
  height: 30px;
  width: 150px;
  transform-origin: bottom left;
  transform: rotate(-90deg);
  left: -40px;
  bottom: 0;
}

.aos-animate.mc-tech {
  animation: fall 1.75s linear forwards;
}
.aos-animate.mc-tech.sb {
  animation: shortfall 1.5s linear forwards;
}
.css-tech {
  background-color: rgb(101, 188, 205);
}
.aos-animate.css-tech {
  animation: css 1s ease-out 0.6s forwards;
}
.aos-animate.css-tech.sb {
  animation: css 0.9s ease-out 0.6s forwards;
}
.sass-tech {
  background-color: rgb(198, 99, 149);
  color: #cceaf0;
}
.aos-animate.sass-tech {
  animation: sass 1s ease-out 0.85s forwards;
}
.react-tech,
.reactjs-tech {
  background-color: rgb(97, 218, 251);
}
.aos-animate.react-tech {
  animation: react 1.1s ease-out 0.9s forwards;
}
.aos-animate.react-tech.sb {
  animation: react 1.1s ease-out 1.1s forwards;
}
.aos-animate.react-tech.fren {
  animation: react 1.1s ease-out 0.65s forwards;
}
.node-tech {
  background-color: rgb(124, 184, 1);
}
.aos-animate.node-tech {
  animation: node 0.8s ease-out 1.2s forwards;
}
.aos-animate.node-tech.sb {
  animation: node 0.9s ease-out 0.9s forwards;
}
.express-tech {
  background-color: rgb(241, 215, 5);
}
.aos-animate.express-tech {
  animation: express 1s ease-out 1.5s forwards;
}
.aos-animate.express-tech.sb {
  animation: express 0.7s ease-out 1s forwards;
}
.psql-tech {
  background-color: rgb(50, 100, 141);
  color: #cceaf0;
}

.cy-tech {
  background-color: rgb(136, 136, 136);
  color: white;
}
@keyframes styled {
  to {
    opacity: 1;
  }
}
@keyframes reactfade {
  to {
    opacity: 1;
  }
}
@keyframes svg {
  to {
    opacity: 1;
  }
}
.sc-tech {
  background-color: rgb(214, 108, 142);
  color: white;
  opacity: 0;
  margin: 0 100px 0 20px;
}
.scss-tech {
  background-color: rgb(214, 108, 142);
  color: white;
  opacity: 0;
  margin: 0 60px 0 110px;
}
.reactjs-tech {
  opacity: 0;
  margin-left: 100px;
}
.aos-animate.sc-tech {
  animation: styled 1s ease-out 1.5s forwards;
}
.aos-animate.scss-tech {
  animation: styled 1s ease-out 1.5s forwards;
}
.aos-animate.reactjs-tech {
  animation: reactfade 0.5s ease-out 0.5s forwards;
}
.aos-animate.svg-tech {
  animation: svg ease-out 0s forwards;
}
.svg-tech {
  background-color: rgb(255, 176, 58);
  color: black;
  opacity: 0;
  margin: 0 40px 0 80px;
}
.feature-links {
  display: flex;
  flex-direction: column;
}

.links {
  background-color: #7a9ca3;
  border-radius: 3px;
  margin: 2px auto;
  padding: 6px 0;
  width: 200px;
}

.fab,
.fas,
.far {
  color: #cceaf0;
  font-size: 30px;
}

.side-note {
  font-style: italic;
  font-size: 16px;
  margin-top: 20px;
}
.italics {
  font-style: italic;
}
.contact-container {
  display: flex;
  flex-direction: column;
}

.contact {
  display: flex;
  padding: 24px;
  justify-content: center;
}

.contact-handle {
  display: flex;
  width: 90%;
  justify-content: space-around;
}

.contact:nth-child(odd) {
  width: 90%;
  align-self: flex-start;
}
.contact:nth-child(even) {
  width: 90%;
  align-self: flex-end;
}

.handle {
  font-size: 14px;
  color: #7a9ca3;
  display: flex;
}
.contact-icon {
  color: #7a9ca3;
  cursor: url('https://proportfolio.s3-us-west-1.amazonaws.com/LetsConnect_50x50.png'),
    auto;
}

.message-header {
  background-color: #385257;
  color: #cceaf0;
  padding: 10px 0;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 10px;
}
.form-container {
  margin-top: 40px;
  border: solid 2px #385257;
}
.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input-container {
  display: flex;
  flex-direction: column;
}
.message-container {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.inputs {
  padding: 10px;
  margin: 5px 0;
  border: none;
  border-bottom: 1px solid #385257;
  font-family: 'Montserrat', sans-serif;
}

.inputs:focus {
  outline: 3px solid #cceaf0;
  font-size: 16px;
}
.inputs::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
  color: #385257;
}

.text-message {
  font-family: 'Montserrat', sans-serif;
  height: 150px;
  padding: 10px;
  margin: 5px 0;
  border: none;
  border-bottom: 1px solid #385257;
}
.text-message:focus {
  outline: 3px solid #cceaf0;
  font-size: 16px;
  line-height: 1.6;
  text-align: left;
  color: #385257;
}
.send-btn {
  padding: 10px;
  margin: 10px;
  background-color: #385257;
  color: #cceaf0;
  align-items: flex-end;
  cursor: url('https://proportfolio.s3-us-west-1.amazonaws.com/LetsConnect_50x50.png'),
    auto;
}
.send-btn:focus {
  outline: 3px solid #cceaf0;
  background-color: #cceaf0;
  color: #385257;
}
.submitted {
  display: none;
}
.reply-container {
  display: none;
}
.reply {
  display: flex;
  flex-direction: column;
}

.thank-you-msg {
  display: flex;
  background-color: white;
  color: #7a9ca3;
  border: solid 2px #385257;
  justify-content: center;
  margin: 30px 0;
}

.thanks-title {
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 1px;
  background-color: #385257;
  color: #cceaf0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
}
.ty-header {
  transform: rotate(-90deg);
  width: 200px;
}
.signature {
  margin: 10px;
  font-family: 'Zeyada', cursive;
  font-size: 22px;
  color: #7a9ca3;
}
.close-sig {
  position: relative;
}
.close-msg {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}
footer {
  background: #7a9ca3;
  color: #385257;
  font-family: 'Zeyada', cursive;
  font-size: 22px;
}
.c {
  color: #cceaf0;
  vertical-align: middle;
  font-size: 20px;
}
@media (min-width: 768px) {
  .nav-links {
    width: 50%;
  }

  .skill-title {
    padding: 0 40px;
  }

  .swiper-container {
    height: 80vh;
  }
  .img-container {
    height: 70vh;
  }
  .phone-img {
    height: 90%;
  }
  .tab-img,
  .lap-img {
    width: fit-content;
    height: fit-content;
  }
  .landscape-tab {
    height: 450px;
    width: 600px;
  }
  .tech-stack {
    justify-content: center;
  }

  .side-note {
    text-align: right;
  }
  .feature-links {
    width: 50vw;
    margin: 0 auto;
  }

  .contact-wrapper {
    width: 50vw;
    margin: 0 auto;
  }
  .contact {
    border-bottom: 1px dotted #385257;
  }
  .divider-container {
    background-color: transparent;
  }
}

@media (min-width: 1024px) {
  .burger {
    display: none;
  }

  .nav-links {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 8vh;
    top: 0vh;
    transform: translateX(0%);
    transition: none;
  }

  .nav-links a {
    color: #385257;
    font-size: 12px;
    margin: 0 auto;
  }
  .nav-links li {
    height: 8vh;
    opacity: 1;
    width: 100%;
  }

  .menu-item {
    padding: 10px;
  }
  .menu-item:hover,
  .menu-item:active {
    color: #cceaf0;
  }

  .content-header {
    font-size: 60px;
  }

  .project-title,
  .swiper-container {
    width: 70vw;
    margin: 0 auto;
  }
  .swiper-button-next::after,
  .swiper-button-prev::after {
    display: block;
    color: #385257;
  }
  .content {
    width: 1000px;
  }
  .portfolio-subheader {
    font-size: 30px;
    padding: 20px 50px;
  }

  .phone-img {
    width: 360px;
  }
  .addl-info-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: space-between;
  }

  .feature-links {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .langs,
  .feature-links,
  .links {
    width: 20vw;
    margin: 0 auto;
  }
  .links {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2px;
  }
  .links:hover {
    background-color: #385257;
  }
}
.reactjs-tech {
  margin-left: 40px;
}

@media (min-width: 1440px) {
  .nav-links {
    width: 30%;
    height: 6vh;
  }

  #hex {
    transform: scale(0.2);
  }
  .skills-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .skill {
    width: 40vw;
  }

  .skillbar {
    width: 40vw;
  }

  .html {
    width: 38vw;
  }
  .css {
    width: 39vw;
  }
  .js {
    width: 39vw;
  }
  .sass {
    width: 25vw;
  }
  .jquery {
    width: 30vw;
  }
  .react {
    width: 39vw;
  }
  .node {
    width: 39vw;
  }
  .express {
    width: 39vw;
  }
  .psql {
    width: 39vw;
  }
  .wordpress {
    width: 35vw;
  }

  .addl-info-container {
    justify-content: space-evenly;
  }

  .project-title,
  .swiper-container {
    width: 65vw;
    margin: 0 auto;
  }
  .bio-content {
    width: 70vw;
    margin: 0 auto;
  }

  .langs {
    width: 20vw;
    margin: 0 auto;
  }

  .lap-img {
    width: 800px;
    height: 400px;
  }
  .landscape-tab {
    width: 800px;
    height: 600px;
  }
  .contact-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact-container {
    flex-direction: row;
  }
  .contact {
    border: none;
    padding: 30px;
    position: relative;
  }

  .contact-handle {
    flex-direction: column;
  }

  .form-container {
    width: 70%;
  }

  .contact:hover .handle {
    display: block;
    font-family: 'Zeyada', cursive;
    font-size: 20px;
    cursor: url('https://proportfolio.s3-us-west-1.amazonaws.com/LetsConnect_50x50.png'),
      auto;
    position: absolute;
    background: #cceaf0;
    border-radius: 5px;
    padding: 5px 15px;
  }

  .contact:nth-child(odd):hover .handle {
    margin: -60px 30px 30px 30px;
  }
  .contact:nth-child(even):hover .handle {
    margin: 30px -120px -60px 30px;
  }
  .handle {
    display: none;
  }
  .input-container {
    width: 90%;
    flex-direction: row;
    justify-content: space-around;
  }
  .message-container {
    display: flex;
    flex-direction: column;
    width: 70%;
  }
  .inputs-message {
    display: none;
  }

  .thank-you-msg {
    width: 40%;
    height: 50%;
  }

  .fab,
  .fas,
  .far {
    font-size: 40px;
  }
  .c {
    font-size: 22px;
  }
  footer {
    margin-top: 100px;
    font-size: 32px;
  }
}
@media (min-width: 2560px) {
  .swiper-container {
    width: 50vw;
  }
}
