* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
  color: #385257;
}

section {
  margin: 20px;
}

a {
  text-decoration: none;
  color: #cceaf0;
}

.container {
  width: 100vw;
}

.content-header {
  font-family: "Bebas Neue", cursive;
  font-size: 36px;
  color: #385257;
  text-decoration: underline #cceaf0;
  letter-spacing: 2px;
  margin: 80px 0 40px;
}

.content {
  text-align: center;
  margin: 60px auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  width: 100%;
  padding: 0px 20px;
  background-color: #7a9ca3;
  position: fixed;
  z-index: 10;
}

.name {
  padding-top: 20px;
  color: #385257;
  text-decoration: none;
  letter-spacing: 5px;
  font-size: 60px;
  font-family: "Zeyada", cursive;
  transform: rotate(-2deg);
}

.burger {
  display: block;
}

.burger div {
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: #385257;
  border-radius: 2px;
  transition: all 0.3s ease;
}
.nav-container {
  position: fixed;
  overflow-x: hidden;
}
.nav-links {
  position: absolute;
  right: 0px;
  height: 92vh;
  top: 8vh;
  background-color: #7a9ca3;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  transform: translateX(100%);
  transition: transform 0.5s ease-in;
  z-index: 20;
}

.nav-links a {
  font-family: "Montserrat", sans-serif;
  color: #cceaf0;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.nav-links li {
  list-style: none;
  height: 92vh;
  display: flex;
  align-items: center;
  opacity: 0;
}

.nav-active {
  transform: translateX(0%);
  z-index: 30;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.bar .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.bar .line2 {
  opacity: 0;
}
.bar .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.background {
  background: url("images/wendy.png");
  background-color: #7a9ca3;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 92vh;
  width: 100vw;
}

.blur {
  display: block;
  background-color: #cceaf0;
  background-position: bottom;
  background-size: cover;
  position: absolute;
  -webkit-filter: blur(2px);
  width: 100vw;
  height: 25vh;
  top: 2vh;
}

.mask {
  width: 100vw;
  height: 27vh;
  position: absolute;
  top: 60vh;
  overflow: hidden;
}

.titles > .sub-titles {
  background: #385257;

  width: 100vw;
  height: 26vh;
  top: 62vh;
  animation: blankout 10s ease forwards;
}

@keyframes blankout {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

.title {
  color: #cceaf0;
  font-size: 14px;
  position: relative;
  top: 40px;
  z-index: 10;
}

.title::before {
  content: "";
  animation: flipcard 10s forwards;
  font-family: "Zeyada", cursive;
}

@keyframes flipcard {
  10% {
    content: "Designer";
    letter-spacing: 1px;
  }
  20% {
    content: "Entrepreneur";
    letter-spacing: 1px;
  }
  25% {
    content: "Writer";
    letter-spacing: 1px;
  }
  30% {
    content: "Coach";
    letter-spacing: 1px;
  }
  35% {
    content: "Ultrarunner";
    letter-spacing: 1px;
  }
  40% {
    content: "Creator";
    letter-spacing: 1px;
  }
  41% {
    content: "Learner";
    letter-spacing: 1px;
  }
  42% {
    content: "Thinker";
    letter-spacing: 1px;
  }
  43% {
    content: "Dreamer";
    letter-spacing: 1px;
  }
  44% {
    content: "Doer";
    letter-spacing: 1px;
  }
  45% {
    content: "Aerialist";
    letter-spacing: 1px;
  }
  46% {
    content: "Improviser";
    letter-spacing: 1px;
  }
  47% {
    content: "Traveler";
    letter-spacing: 1px;
  }
  48% {
    content: "Volunteer";
    letter-spacing: 1px;
  }
  49% {
    content: "Blogger";
    letter-spacing: 1px;
  }

  50% {
    content: "web developer";
    font-size: 40px;
    letter-spacing: 1px;
  }

  99% {
    content: "wendy bartos";
    letter-spacing: -2px;
  }

  100% {
    content: "wendy e. bartos";
    font-size: 50px;
    letter-spacing: 3px;
  }
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Montserrat", sans-serif;
  color: #385257;
  padding: 15px 0;
}
.skill-title {
  padding: 0 20px;
}
.skillbar {
  width: 85vw;
  height: 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  background-color: #cceaf0;
}

.track {
  position: absolute;
  background-color: #385257;
  height: 10px;
  border-radius: 5px;
}
.html {
  width: 75vw;
}
.css {
  width: 80vw;
}
.js {
  width: 80vw;
}
.sass {
  width: 45vw;
}
.jquery {
  width: 60vw;
}
.react {
  width: 80vw;
}
.node {
  width: 80vw;
}
.express {
  width: 80vw;
}
.psql {
  width: 80vw;
}

.wordpress {
  width: 65vw;
}

.project-title {
  background-color: #385257;
  color: #cceaf0;
  padding: 10px 0;
}
.divider-parent {
  position: relative;
}
.divider {
  position: absolute;
  height: 2px;
  left: 30%;
  right: 30%;
}
.swiper-container {
  height: 70vh;
}
.wehive-feature {
  background-color: #ffc40075;
}
.wehive {
  background-color: #ffc400;
}
.sb-feature {
  background-color: #41704c75;
}
.spacedbox {
  background-color: #41704c;
}
.frenmo-feature {
  background-color: #a8ffdc75;
}
.frenmo {
  background-color: #a8ffdc;
}
.swiper-wrapper {
  align-items: center;
}

.swiper-slide,
.phone-img,
.tab-img {
  width: 260px;
  height: 350px;
  margin: 20px auto;
}
.fren-tab {
  margin: 100px auto;
  height: 200px;
}
.lap-img {
  width: 280px;
  margin: 150px auto;
}
.subheading {
  text-decoration: underline;
  text-transform: uppercase;
  margin: 30px 0px;
}

.tech-stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.langs {
  position: relative;
}

@keyframes fall {
  0% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(-45deg);
  }
}
@keyframes shortfall {
  0% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(-55deg);
  }
}
@keyframes react {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: 80px;
    margin-right: -80px;
  }
}
@keyframes react-sb {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 80px;
    margin-right: -80px;
  }
}
@keyframes css {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: 60px;
    margin-right: -60px;
  }
}
@keyframes sass {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: 70px;
    margin-right: -70px;
  }
}
@keyframes node {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: 65px;
    margin-right: -65px;
  }
}
@keyframes express {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: 15px;
    margin-right: -15px;
  }
}
.tech {
  padding: 0 6px;
}
.mc-tech {
  position: absolute;
  background-color: rgb(240, 227, 195);
  color: #574230;
  height: 30px;
  width: 150px;
  transform-origin: bottom left;
  transform: rotate(-90deg);
  left: -40px;
  bottom: 0;
}

.aos-animate.mc-tech {
  animation: fall 1.75s linear forwards;
}
.aos-animate.mc-tech.sb {
  animation: shortfall 1.5s linear forwards;
}
.css-tech {
  background-color: rgb(101, 188, 205);
}
.aos-animate.css-tech {
  animation: css 1s ease-out 0.6s forwards;
}
.aos-animate.css-tech.sb {
  animation: css 0.9s ease-out 0.6s forwards;
}
.sass-tech {
  background-color: rgb(198, 99, 149);
  color: #cceaf0;
}
.aos-animate.sass-tech {
  animation: sass 1s ease-out 0.85s forwards;
}
.react-tech {
  background-color: rgb(97, 218, 251);
}
.aos-animate.react-tech {
  animation: react 1.1s ease-out 0.9s forwards;
}
.aos-animate.react-tech.sb {
  animation: react 1.1s ease-out 1.1s forwards;
}
.aos-animate.react-tech.fren {
  animation: react 1.1s ease-out 0.65s forwards;
}
.node-tech {
  background-color: rgb(124, 184, 1);
}
.aos-animate.node-tech {
  animation: node 0.8s ease-out 1.2s forwards;
}
.aos-animate.node-tech.sb {
  animation: node 0.9s ease-out 0.9s forwards;
}
.express-tech {
  background-color: rgb(241, 215, 5);
}
.aos-animate.express-tech {
  animation: express 1s ease-out 1.5s forwards;
}
.aos-animate.express-tech.sb {
  animation: express 0.7s ease-out 1s forwards;
}
.psql-tech {
  background-color: rgb(50, 100, 141);
  color: #cceaf0;
}

.cy-tech {
  background-color: rgb(136, 136, 136);
  color: white;
}

.feature-links {
  display: flex;
  flex-direction: column;
}

.links {
  background-color: #7a9ca3;
  border-radius: 3px;
  margin: 2px auto;
  padding: 6px 0;
  width: 200px;
}

.fab,
.fas {
  color: #cceaf0;
  font-size: 30px;
}

.side-note {
  font-style: italic;
  font-size: 16px;
  margin-top: 20px;
}

.contact-container {
  display: flex;
  flex-direction: column;
  height: 50vh;
}

.contact {
  background-color: #7a9ca3;
  padding: 14px;
  margin-bottom: 4px;
}

.handle {
  font-size: 14px;
}

footer {
  background: #7a9ca3;
  color: #385257;
  font-family: "Zeyada", cursive;
  font-size: 22px;
}

@media (min-width: 768px) {
  .nav-links {
    width: 50%;
  }

  .skill-title {
    padding: 0 40px;
  }

  .swiper-container {
    height: 80vh;
  }

  .phone-img,
  .tab-img,
  .lap-img {
    width: fit-content;
    height: fit-content;
  }
  .fren-tab {
    height: 400px;
    width: 400px;
  }
  .tech-stack {
    justify-content: center;
  }

  .side-note {
    text-align: right;
  }
  .feature-links {
    width: 50vw;
    margin: 0 auto;
  }

  .contact-container {
    width: 50vw;
    margin: 0 auto;
  }

  .handle {
    font-size: 20px;
  }
}

@media (min-width: 1024px) {
  .burger {
    display: none;
  }

  .nav-links {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 8vh;
    top: 0vh;
    transform: translateX(0%);
    transition: none;
  }

  .nav-links a {
    color: #385257;
    font-size: 12px;
    margin: 0 auto;
  }
  .nav-links li {
    height: 8vh;
    opacity: 1;
    width: 100%;
  }

  .menu-item {
    padding: 10px;
  }
  .menu-item:hover,
  .menu-item:active {
    color: #cceaf0;
  }

  @keyframes flipcard {
    10% {
      content: "Designer";
      letter-spacing: 1px;
    }
    20% {
      content: "Entrepreneur";
      letter-spacing: 1px;
    }
    25% {
      content: "Writer";
      letter-spacing: 1px;
    }
    30% {
      content: "Coach";
      letter-spacing: 1px;
    }
    35% {
      content: "Ultrarunner";
      letter-spacing: 1px;
    }
    40% {
      content: "Creator";
      letter-spacing: 1px;
    }
    41% {
      content: "Learner";
      letter-spacing: 1px;
    }
    42% {
      content: "Thinker";
      letter-spacing: 1px;
    }
    43% {
      content: "Dreamer";
      letter-spacing: 1px;
    }
    44% {
      content: "Doer";
      letter-spacing: 1px;
    }
    45% {
      content: "Aerialist";
      letter-spacing: 1px;
    }
    46% {
      content: "Improviser";
      letter-spacing: 1px;
    }
    47% {
      content: "Traveler";
      letter-spacing: 1px;
    }
    48% {
      content: "Volunteer";
      letter-spacing: 1px;
    }
    49% {
      content: "Blogger";
      letter-spacing: 1px;
    }

    50% {
      content: "web developer";
      font-size: 40px;
      letter-spacing: 1px;
    }
    99% {
      content: "wendy bartos";
      letter-spacing: -2px;
    }
    100% {
      content: "wendy e. bartos";
      font-size: 60px;
      margin-left: 280px;
    }
  }

  .content-header {
    font-size: 60px;
  }

  .project-title,
  .swiper-container {
    width: 70vw;
    margin: 0 auto;
  }
  .content {
    width: 80vw;
  }
  .portfolio-subheader {
    font-size: 30px;
    padding: 20px 50px;
  }
  .addl-info-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: space-between;
  }

  .feature-links {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .langs,
  .feature-links,
  .links {
    width: 20vw;
    margin: 0 auto;
  }
  .links {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2px;
  }
  .links:hover {
    background-color: #385257;
  }
}

@media (min-width: 1440px) {
  nav {
    height: 6vh;
  }
  .nav-links {
    width: 30%;
    height: 6vh;
  }
  .background {
    height: 94vh;
  }
  .blur {
    background-size: contain;
    -webkit-filter: blur(4px);
    height: 36vh;
  }

  .mask {
    top: 60vh;
  }
  .header-container {
    background-color: #7a9ca3;
  }

  .skills-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .skill {
    width: 40vw;
  }

  .skillbar {
    width: 40vw;
  }

  .html {
    width: 38vw;
  }
  .css {
    width: 39vw;
  }
  .js {
    width: 39vw;
  }
  .sass {
    width: 25vw;
  }
  .jquery {
    width: 30vw;
  }
  .react {
    width: 39vw;
  }
  .node {
    width: 39vw;
  }
  .express {
    width: 39vw;
  }
  .psql {
    width: 39vw;
  }
  .wordpress {
    width: 35vw;
  }

  .addl-info-container {
    justify-content: space-evenly;
  }

  .project-title,
  .swiper-container {
    width: 80vw;
    margin: 0 auto;
  }
  .bio-content {
    width: 70vw;
    margin: 0 auto;
  }

  .langs {
    width: 20vw;
    margin: 0 auto;
  }

  .phone-img,
  .tab-img {
    margin: 80px auto;
  }
  .fren-tab {
    margin: 160px auto;
    height: 400px;
    width: 500px;
  }
  .lap-img {
    margin: 180px auto;
  }

  .contact-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    height: 30vh;
  }
  .contact {
    margin: 10px;
    width: 30vw;
    padding: 60px;
  }

  #email,
  #github,
  #linkedin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    width: 500px;
  }

  .contact:hover .contact-icon {
    color: #385257;
  }
  #email:hover,
  #github:hover,
  #linkedin:hover {
    background-color: #cceaf0;
    font-family: "Zeyada", cursive;
    font-size: 30px;
  }

  #email:hover::after {
    content: "wendyebartos@gmail.com";
  }

  #github:hover::before {
    content: "WEB818";
  }
  #linkedin:hover::after {
    content: "wendybartos";
  }

  .handle {
    display: none;
  }

  .fab,
  .fas {
    font-size: 40px;
  }

  footer {
    margin-top: 100px;
    font-size: 32px;
  }
}
